<div class="pageTitle">
  
</div>

<div class="toolbar">
  
</div>

<div class="content">
  <ul>
    <% @entries.each do |entry| %>
    
        <li>
          <a href="<%= url_for :action => :show, :id => entry.object %>">
            <span class="title"><%= entry.title %></span><span class="disclosure_indicator"></span>
          </a>
        </li>
    	
    <% end %>
    	<li>
    		<a href="#">
    			<span class="date">apr <span class="date-day">01</span> 2011</span>
    			<span class="title">
    				This Is An Entry Title<br />
    				<span class="excerpt">This is an excerpt from an entry...</span>
    			</span>
    			
    			<span class="disclosure_indicator"></span>
    		</a>
    	</li>
  </ul>
</div>