<div id="pageTitle">
    <h1>New Entry</h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :index %>
</div>


<div id="content">

    <form method="POST" action="<%= url_for :action => :create %>">
	    <input type="hidden" name="id" value="<%= @entry.object %>"/>
        <table>
    		
    		  <tr>
    			  <td class="itemLabel">Title: </td>
    			  <td class="itemValue"><input type="text" name="entry[title]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Body: </td>
    			  <td class="itemValue"><input type="text" name="entry[body]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Photo uri: </td>
    			  <td class="itemValue"><input type="text" name="entry[photo_uri]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Datetime: </td>
    			  <td class="itemValue"><input type="text" name="entry[datetime]"/></td>
    		  </tr>
    		
        </table>
        <input type="submit" class="standardButton" value="Create" />
    </form>
</div>